/*  Target the app-board component tag itself */
:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.board-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
  position: relative;
}

canvas {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: crosshair;
}
