.board-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

canvas {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  cursor: crosshair;
}
